# -------------------------------
# Python general
# -------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.DS_Store

# -------------------------------
# Virtual environments
# -------------------------------
venv/
.env
*.env

# -------------------------------
# IDE / Editor files
# -------------------------------
.vscode/
.idea/

# -------------------------------
# Project-specific folders
# -------------------------------
output/
# data/

# -------------------------------
# Live project subfolder
# -------------------------------
live/logs/
live/venv/
live/.env

# -------------------------------
# Misc
# -------------------------------
*.log
*.tmp
*.bak
